# DATABASE
MONGODB_URI=

# MAILER
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=SoundWave <soundwave.webapp@gmail.com>

# SPOTIFY
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_REDIRECT_URI_REGISTER=
SPOTIFY_REDIRECT_URI_LOGIN=

# GOOGLE
GOOGLE_ID_CLIENT=
GOOGLE_SECRET_CLIENT=

#JTW
JWT_SECRET_KEY=

NODE_ENV=development
#NODE_ENV=production